
html{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(52,49,49);
}

body{
    padding: 1rem;
    background-color: rgb(238,238,238);
}

a{
    text-decoration: none;
    color: white;
}

article{
    background-color: rgb(11,76,26);
    color:white;
    padding: 1em;
}

article p{
    margin-bottom: 0;
    margin-top: 0;
}

main{
    margin-left: auto;
    margin-right: auto;
    max-width: 1170px;
}

aside fieldset{
    background-color: white;
    padding: 1em;
    border: none;
    outline: 2px solid white;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-rows: 'z z'
                        'a b'
                        'c d'
                        'e e'
                        'f f';
}

.z{
    grid-area: z;
}

.a{
    grid-area: a;
}

.b{
    grid-area: b;
}

.c{
    grid-area: c;
}

.d{
    grid-area: d;
}

.e{
    grid-area: e;
}

.f{
    grid-area: f;
}
