body{
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.contenedor{
    display: grid;
    width: 80%;
    background-color: lightgreen;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    border: 1px solid black;
    padding: 20px;
    margin: 0 auto;
    
}

.caja{
    border: 4px solid black;
    background-color: lightgrey;
    text-align: center;
    line-height: 150px;
}

.c1 {
    background-color: lightskyblue;
    grid-row: 1 / span 2;
}

.c2 {
    background-color: lightyellow;
    grid-row: 1 /span 2;
}

.c3 {
    background-color: lightsalmon;
}

.c10{
    background-color: lightgrey;
    grid-row: 4 / span 2;

}

.c12{
    background-color: lightseagreen;
}