/*Ejercicio micasa.html*/

/*Fachada*/
#fachada    {
                background-color: rgb(112, 69, 69);
                width: 1000px;
                height: 700px;
                position: absolute;
                top:300px;
                left:150px;
                border-top-left-radius: 40%;
                border-top-right-radius: 40%;
                border: solid;
                border-color: black;  
            }
    
    /*Ladrillo 1*/
    #ladrillo1  {
                    background-color: rgb(53, 17, 17);
                    position: absolute;
                    width: 40px;
                    height: 20px;
                    border: solid;
                    border-color: black;
                    top: 300px;
                    left: 20px;
                }
    /*Fin Ladrillo 1*/

    /*Ladrillo 2*/
    #ladrillo2  {
                    background-color: rgb(53, 17, 17);
                    position: absolute;
                    width: 60px;
                    height: 20px;
                    border: solid;
                    border-color: black;
                    top: 324px;
                    left: 50px;
                }
    /*Fin Ladrillo 2*/

    /*Ladrillo 3*/
    #ladrillo3  {
                    background-color: rgb(53, 17, 17);
                    position: absolute;
                    width: 60px;
                    height: 20px;
                    border: solid;
                    border-color: black;
                    top: 500px;
                    left: 100px;
                }
    /*Fin Ladrillo 3*/
    
    /*Ladrillo 4*/
    #ladrillo4  {
                    background-color: rgb(53, 17, 17);
                    position: absolute;
                    width: 60px;
                    height: 20px;
                    border: solid;
                    border-color: black;
                    top: 600px;
                    left: 350px;
                }
    /*Fin Ladrillo 4*/

    /*Ladrillo 5*/
    #ladrillo5  {
                    background-color: rgb(53, 17, 17);
                    position: absolute;
                    width: 60px;
                    height: 20px;
                    border: solid;
                    border-color: black;
                    top: 550px;
                    left: 800px;
                }
    /*Fin Ladrillo 5*/

    /*Ladrillo 6*/
    #ladrillo6  {
                    background-color: rgb(53, 17, 17);
                    position: absolute;
                    width: 60px;
                    height: 20px;
                    border: solid;
                    border-color: black;
                    top: 574px;
                    left: 770px;
                }    
    /*Fin Ladrillo 6*/

    /*Ladrillo 7*/
    #ladrillo7  {
                    background-color: rgb(53, 17, 17);
                    position: absolute;
                    width: 60px;
                    height: 20px;
                    border: solid;
                    border-color: black;
                    top: 250px;
                    left: 770px;
                }
    /*Fin Ladrillo 7*/

    /*Ventana 1 (izq)*/
    #ventana1       {   
                        background-color:lightblue;
                        width: 100px;
                        height: 200px;
                        position: absolute;
                        top: 300px;
                        left: 200px;
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                        border-bottom-left-radius: 10px;
                        border-bottom-right-radius: 10px;
                        border-style: solid;
                        border-color: black;
                    }
        /*Detalles ventana 1*/
        #detallesventana1   {
                                background-color: whitesmoke;
                                width: 60px;
                                height: 20px;
                                border-top-left-radius: 30%;
                                border-bottom-left-radius: 30%;
                                border-top-right-radius: 20%;
                                position: absolute;
                                top:10px;
                                left:35px;
                            }

        #detallesventana1-2 {
                                background-color: whitesmoke;
                                width: 20px;
                                height: 40px;
                                border-radius: 0%;
                                position: absolute;
                                top:30px;
                                left:75px;
                                border-bottom-right-radius: 30%;
                                border-top-left-radius: 0%;
                                border-bottom-left-radius: 30%;
                                border-top-right-radius: 0%;
                            }
        /*Fin detalles de ventana1*/
    /*Fin ventana1*/

    /*Ventana 2 (der)*/
    #ventana2       {   
                        background-color:lightblue;
                        width: 100px;
                        height: 200px;
                        position: absolute;
                        top: 300px;
                        left: 700px;
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                        border-bottom-left-radius: 10px;
                        border-bottom-right-radius: 10px;
                        border-color: black;
                        border-style: solid;
                    }
        /*Detalles ventana 2*/
        #detallesventana2   {
                                background-color: whitesmoke;
                                width: 60px;
                                height: 20px;
                                border-top-left-radius: 30%;
                                border-bottom-left-radius: 30%;
                                border-top-right-radius: 20%;
                                position: absolute;
                                top:10px;
                                left:35px;
                            }

        #detallesventana2-2 {
                                background-color: whitesmoke;
                                width: 20px;
                                height: 40px;
                                border-radius: 0%;
                                position: absolute;
                                top:30px;
                                left:75px;
                                border-bottom-right-radius: 30%;
                                border-top-left-radius: 0%;
                                border-bottom-left-radius: 30%;
                                border-top-right-radius: 0%;
                            }
        /*Fin de detalles de ventana2*/
    /*Fin ventana2*/

    /*Puerta*/
    #puerta {   
                background-color:grey;
                width: 200px;
                height: 395px;
                position: absolute;
                top: 300px;
                left: 400px;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                border-color: black;
                border-style: solid;
            }
        /*Detalles puerta*/
            #pomo   {
                        background-color: black;
                        width: 20px;
                        height: 20px;
                        border-radius: 100%;
                        position: absolute;
                        top: 195px;
                        left: 150px;
                    }

            #relievepuerta  {
                                position:absolute;
                                width: 150px;
                                height: 150px;
                                border-style: solid;
                                top: 30px;
                                left: 20px;
                            }       

            #relievepuerta2  {
                                position:absolute;
                                width: 150px;
                                height: 150px;
                                border-style: solid;
                                top: 230px;
                                left: 20px;
                            }
        /*Fin detalles puerta*/
    /*Fin puerta*/
/*Fin fachada*/

/*Suelo*/
#suelo  {
            background-image: url('../imagenes/cesped.jpeg');
            position: absolute;
            width: 1920px;
            height: 400px;
            top: 900px;
            z-index: -1;
            background-repeat: no-repeat;
            background-position: fixed;
            background-size: auto;
        }
/*Fin suelo*/

/*Techo*/
#techo  {
            position:absolute;
            width: 1100px;
            height: 400px;
            background-color: darkred;
            top: 100px;
            left: 100px;
            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
            border: solid;
            border-color: black;  
        }
/*Fin de techo*/

/*Cielo*/
#cielo  {
            position: absolute;
            background-color: rgb(51, 173, 214);
            z-index: -2;
            width: 1920px;
            height: 1000px;
        }
/*Fin de cielo*/