/* Selector combinado: aplica estilos solo a párrafos dentro de div*/
div p   {
            color: darkred;
            font-size: 18px;
        }  
/* Encabezado resaltado */
h3.resaltado    {
                    background-color: yellow;
                    font-style: italic;
                }